<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="ms-tree">
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li *ngIf="node.nodeAuthorized">
      <div class="mat-tree-node">
        <button
          class="expand-collapse-button"
          *ngIf="!checkChildren(node)"
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.nodeName"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>

        <!-- Disabled button to provide padding to leaf nodes -->
        <button *ngIf="checkChildren(node)" mat-icon-button disabled></button>

        <mat-checkbox
          [checked]="node.nodeSelected"
          (change)="selectOnShowSelectedTab(node)"
          color="warn"
        >
          <div
            *ngIf="node.nodeInactive"
            class="tree-node-inactive"
            [innerHTML]="node.nodeName | searchFilter: searchSelectedNode"
          ></div>

          <div class="inactive-text" *ngIf="node.nodeInactive">
            &nbsp; &nbsp; (inactive)
          </div>

          <div
            *ngIf="!node.nodeInactive"
            class="tree-node-active"
            [innerHTML]="node.nodeName | searchFilter: searchSelectedNode"
          ></div>
        </mat-checkbox>
      </div>

      <ul [class.ms-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
