.container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 1%;
  border: 5px solid red;
  border-radius: 20px;
  background: #dacdca;
}

.flyout-container {
  margin: 10px;
  border: 1px solid red;
  padding: 1%;
  padding-left: 3%;
  background: white;
  overflow: auto;
}
