<mat-card class="ms-tree-container">
  <!-- =============================================================== -->
  <!-- Expansion Pannel which serves as the flyout container for the   -->
  <!--               tree. The tree is Lazily loaded                   -->
  <!-- =============================================================== -->

  <mat-expansion-panel>
    <mat-expansion-panel-header (click)="renderTree()">
      <mat-panel-title> User Group(s) </mat-panel-title>
      <mat-panel-description>
        <!-- This badge displays when none of the tree nodes have been selected-->
        <span
          *ngIf="renderTreeDiv && count === 0"
          class="badge badge-secondary p-2 mr-2"
          >None
        </span>

        <!-- This badge displays when at least one of the tree nodes have been selected-->
        <span
          *ngIf="renderTreeDiv && count > 0"
          class="badge badge-warning p-2 mr-2"
          >{{ count }}
        </span>

        {{ text }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Lazy loading of the Tree component -->
    <ng-template matExpansionPanelContent>
      <ms-tree
        *ngIf="renderTreeDiv"
        [treeIsSearchable]="treeIsSearchable"
        (selectedCount)="updateSelectedCount($event)"
      ></ms-tree>
    </ng-template>
  </mat-expansion-panel>
</mat-card>
