/*  Use this style sheet to style the <ms-tree> (ms-tree.component.ts) component */

.tree-display {
  height: 300px;
  margin: 0 auto;
  width: 99%;
  white-space: nowrap;
  overflow-x: auto;
  overflow: auto;
  border: 1px solid lightgrey;
}

.ms-tree-invisible {
  display: none;
}

.ms-tree ul,
.ms-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.search-container {
  padding: 1.5%;
  display: flex;
  flex-direction: column;
}

.search-container > * {
  width: 100%;
}

.tree-node-active:hover {
  color: #8ad3e2;
}

.tree-node-unauthorized {
  color: orangered;
  cursor: default;
}

.tree-node-inactive {
  color: grey;
  float: left;
}

.tree-node-inactive:hover {
  color: #8ad3e2;
}

.inactive-text {
  float: right;
  font-size: 75%;
  color: yellow;
}
