<mat-tab-group
  (selectedIndexChange)="checkNodeSelection($event)"
  animationDuration="100"
  mat-align-tabs="center"
>
  <!-- ======================================================================= -->
  <!-- ====================== This is the "Show All" Tab ===================== -->
  <!-- ======================================================================= -->

  <mat-tab label="Show All">
    <!-- =================== Search component for the "Show All" Tab =================== -->

    <ms-search
      (searchTerm)="searchTerm = $event; extractNodes($event)"
    ></ms-search>

    <mat-card class="tree-display">
      <!-- ============================================================================== -->
      <!-- This tree is rendered when a node is being searched on the "Show All" Tab -->

      <mat-tree
        *ngIf="searching"
        [dataSource]="treeInit.dataSource"
        [treeControl]="treeControl"
        class="ms-tree"
      >
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li *ngIf="node.nodeSearchBreanch">
            <div class="mat-tree-node">
              <button
                class="expand-collapse-button"
                *ngIf="!checkChildren(node)"
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.nodeName"
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                    treeControl.isExpanded(node)
                      ? "expand_more"
                      : "chevron_right"
                  }}
                </mat-icon>
              </button>

              <!-- Disabled button to provide padding to leaf nodes -->
              <button
                *ngIf="checkChildren(node)"
                mat-icon-button
                disabled
              ></button>

              <mat-checkbox
                [checked]="node.nodeSelected"
                (change)="selectOnSearch(node)"
                color="warn"
              >
                <div
                  *ngIf="node.nodeInactive"
                  class="tree-node-inactive"
                  [innerHTML]="node.nodeName | searchFilter: searchTerm"
                ></div>

                <div class="inactive-text" *ngIf="node.nodeInactive">
                  &nbsp; &nbsp; (inactive)
                </div>

                <div
                  *ngIf="!node.nodeInactive"
                  class="tree-node-active"
                  [innerHTML]="node.nodeName | searchFilter: searchTerm"
                ></div>
              </mat-checkbox>
            </div>

            <ul [class.ms-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>

      <!-- ============================================================================== -->
      <!-- This tree is rendered the "Show All" Tab initially loads -->
      <mat-tree
        *ngIf="!searching"
        [dataSource]="treeInit.dataSource"
        [treeControl]="treeControl"
        class="ms-tree"
      >
        <!-- Leaf tree nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <!--  This displays authorized leaf nodes   -->
          <li
            class="mat-tree-node"
            *ngIf="node.nodeAuthorized; else unathorizedLeaf"
          >
            <!-- use of a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>

            <mat-checkbox
              [checked]="node.nodeSelected"
              (change)="selectAndExpand(node)"
              color="warn"
              ><div
                *ngIf="node.nodeInactive"
                class="tree-node-inactive"
                [innerHTML]="node.nodeName | searchFilter: searchTerm"
              ></div>

              <div class="inactive-text" *ngIf="node.nodeInactive">
                &nbsp; &nbsp; (inactive)
              </div>

              <div
                *ngIf="!node.nodeInactive"
                class="tree-node-active"
                [innerHTML]="node.nodeName | searchFilter: searchTerm"
              ></div>
            </mat-checkbox>
          </li>

          <!--  This displays unauthorized leaf nodes   -->
          <ng-template #unathorizedLeaf>
            <li class="mat-tree-node">
              <!-- use of a disabled button to show unauthorized nodes -->
              <button mat-icon-button disabled>
                <mat-icon class="mat-icon-rtl-mirror">
                  remove_circle
                </mat-icon>
              </button>

              <div
                class="tree-node-unauthorized"
                [innerHTML]="node.nodeName | searchFilter: searchTerm"
              ></div>
            </li>
          </ng-template>
        </mat-tree-node>

        <!-- Expandable Tree nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li *ngIf="node.nodeAuthorized; else unauthorizedNode">
            <div class="mat-tree-node">
              <button
                class="expand-collapse-button"
                mat-icon-button
                matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.nodeName"
              >
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                    treeControl.isExpanded(node)
                      ? "expand_more"
                      : "chevron_right"
                  }}
                </mat-icon>
              </button>

              <mat-checkbox
                [checked]="node.nodeSelected"
                (change)="selectAndExpand(node)"
                color="warn"
                ><div
                  *ngIf="node.nodeInactive"
                  class="tree-node-inactive"
                  [innerHTML]="node.nodeName | searchFilter: searchTerm"
                ></div>

                <div class="inactive-text" *ngIf="node.nodeInactive">
                  &nbsp; &nbsp; (inactive)
                </div>

                <div
                  *ngIf="!node.nodeInactive"
                  class="tree-node-active"
                  [innerHTML]="node.nodeName | searchFilter: searchTerm"
                ></div
              ></mat-checkbox>
            </div>

            <ul [class.ms-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>

          <ng-template #unauthorizedNode>
            <div class="mat-tree-node">
              <button mat-icon-button disabled>
                <mat-icon class="mat-icon-rtl-mirror">
                  remove_circle
                </mat-icon>
              </button>

              <div
                class="tree-node-unauthorized"
                [innerHTML]="node.nodeName | searchFilter: searchTerm"
              ></div>
            </div>
          </ng-template>
        </mat-nested-tree-node>
      </mat-tree>
    </mat-card>
  </mat-tab>

  <!-- ======================================================================= -->
  <!-- =================== This is the "Show Selected" Tab =================== -->
  <!-- ======================================================================= -->

  <mat-tab label="Show Selected">
    <!-- ****************************************** -->
    <!-- The "Show Selected" Tab is "Lazily loaded" -->
    <!-- ****************************************** -->

    <ng-template matTabContent>
      <!-- =================== Search component for the "Show Selected" Tab =================== -->

      <ms-show-selected
        (searchTerm)="searchSelectedNode = $event; extractNodesSelected($event)"
      ></ms-show-selected>

      <mat-card *ngIf="checkSelected" class="tree-display">
        <!-- ============================================================================== -->
        <!-- This tree is rendered when a node is being searched on the "Show Selected" Tab -->

        <mat-tree
          *ngIf="searchingSelected"
          [dataSource]="treeInit.dataSource"
          [treeControl]="treeControl"
          class="ms-tree"
        >
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <li *ngIf="node.nodeSearchBreanch && node.nodeDescendantSelected">
              <div class="mat-tree-node">
                <button
                  class="expand-collapse-button"
                  *ngIf="!checkChildren(node)"
                  mat-icon-button
                  matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.nodeName"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{
                      treeControl.isExpanded(node)
                        ? "expand_more"
                        : "chevron_right"
                    }}
                  </mat-icon>
                </button>

                <!-- Disabled button to provide padding to leaf nodes -->
                <button
                  *ngIf="checkChildren(node)"
                  mat-icon-button
                  disabled
                ></button>

                <mat-checkbox
                  [checked]="node.nodeSelected"
                  (change)="selectOnSearch(node)"
                  color="warn"
                >
                  <div
                    *ngIf="node.nodeInactive"
                    class="tree-node-inactive"
                    [innerHTML]="
                      node.nodeName | searchFilter: searchSelectedNode
                    "
                  ></div>

                  <div class="inactive-text" *ngIf="node.nodeInactive">
                    &nbsp; &nbsp; (inactive)
                  </div>

                  <div
                    *ngIf="!node.nodeInactive"
                    class="tree-node-active"
                    [innerHTML]="
                      node.nodeName | searchFilter: searchSelectedNode
                    "
                  ></div>
                </mat-checkbox>
              </div>

              <ul [class.ms-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
              </ul>
            </li>
          </mat-nested-tree-node>
        </mat-tree>

        <!-- =========================================================================== -->
        <!-- This tree is rendered to show all selected nodes on the "Show Selected" Tab -->

        <mat-tree
          *ngIf="!searchingSelected"
          [dataSource]="treeInit.dataSource"
          [treeControl]="treeControl"
          class="ms-tree"
        >
          <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <li *ngIf="node.nodeAuthorized && node.nodeDescendantSelected">
              <div class="mat-tree-node">
                <button
                  class="expand-collapse-button"
                  *ngIf="!checkChildren(node)"
                  mat-icon-button
                  matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.nodeName"
                >
                  <mat-icon class="mat-icon-rtl-mirror">
                    {{
                      treeControl.isExpanded(node)
                        ? "expand_more"
                        : "chevron_right"
                    }}
                  </mat-icon>
                </button>

                <!-- Disabled button to provide padding to leaf nodes -->
                <button
                  *ngIf="checkChildren(node)"
                  mat-icon-button
                  disabled
                ></button>

                <mat-checkbox
                  [checked]="node.nodeSelected"
                  (change)="selectOnShowSelectedTab(node)"
                  color="warn"
                >
                  <div
                    *ngIf="node.nodeInactive"
                    class="tree-node-inactive"
                    [innerHTML]="
                      node.nodeName | searchFilter: searchSelectedNode
                    "
                  ></div>

                  <div class="inactive-text" *ngIf="node.nodeInactive">
                    &nbsp; &nbsp; (inactive)
                  </div>

                  <div
                    *ngIf="!node.nodeInactive"
                    class="tree-node-active"
                    [innerHTML]="
                      node.nodeName | searchFilter: searchSelectedNode
                    "
                  ></div>
                </mat-checkbox>
              </div>

              <ul [class.ms-tree-invisible]="!treeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
              </ul>
            </li>
          </mat-nested-tree-node>
        </mat-tree>
      </mat-card>

      <!-- =========================================================================== -->
      <!-- This div is displayed when no nodes have been selected -->
      <div
        *ngIf="!checkSelected && currentTabIndex === 1"
        class="none-selected-div"
      >
        None Selected
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
