/*  Use this style sheet to style the <ms-tree> (ms-tree.component.html) component */

.tree-display {
  height: 800px;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow: auto;
  border: 5px solid lightgrey;
}

.tree-node {
  margin: 1%;
  vertical-align: center;
}

.tree-node-checkbox {
  color: black;
}
.tree-node-checkbox:hover {
  color: blue;
}

.unauthorized-container {
  display: inline-block;
  color: grey;
  cursor: default;
}

.tree-node-unauthorized {
  display: inline-block;
  margin-left: 10px;
}

.tree-node-inactive {
  color: grey;
  float: left;
}

.tree-node-inactive:hover {
  color: blue;
}

.inactive-text {
  float: right;
  font-size: 75%;
  color: grey;
  margin-left: 20px;
}

.expand-collapse-button {
  outline: none;
}

.none-selected-div {
  line-height: 750px;
  text-align: center;
  width: 100%;
}

.loading-nodes-progress-bar {
  display: inline-flex;
}
