.inner-tree-container {
  height: 90%;
  width: 95%;
  margin: 0 auto;
  border: 1px solid red;
  border-radius: 5px;
  padding: 1%;
  background: white;
}

.tree-display {
  height: 300px;
  overflow: auto;
  padding: 5px;
  border: 1px solid red;
  border-radius: 5px;
}

.ms-tree-invisible {
  display: none;
}

.ms-tree ul,
.ms-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.highlight {
  background: yellow;
}
