<div (click)="breadthFirstSearch()" *ngIf="root !== null">
  <div class="inner-tree-container">
    <input
      class="form-control m-2 w-75"
      type="text"
      autofocus="autofocus"
      placeholder="Search"
    />
    <ul>
      <li *ngFor="let treeNode of tree">
        {{ treeNode.nodeName }}
        <ul>
          <!-- <li *ngFor="let children of treeNode.nodeChildren">
            {{ children.nodeName }}
          </li> -->
          {{
            check()
          }}
        </ul>
      </li>
    </ul>
  </div>
</div>
