<mat-tab-group animationDuration="100" mat-align-tabs="center">
  <mat-tab label="Show All">
    <ms-search
      (searchTerm)="searchTerm = $event; extractNodes($event)"
    ></ms-search>

    <mat-card class="tree-display">
      <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button mat-icon-button disabled></button>
          <mat-checkbox
            class="tree-node-active"
            [checked]="node.treeNode.nodeSelected"
            (change)="selectAndExpand(node)"
            color="warn"
          >
            {{ node.treeNode.nodeName }}
          </mat-checkbox>
        </mat-tree-node>

        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            class="expand-collapse-button"
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>

          <mat-checkbox
            class="tree-node-active"
            [checked]="node.treeNode.nodeSelected"
            (change)="selectAndExpand(node)"
            color="warn"
          >
            {{ node.treeNode.nodeName }}
          </mat-checkbox>
        </mat-tree-node>
      </mat-tree>
    </mat-card>
  </mat-tab>

  <mat-tab label="Show Selected">
    <ng-template matTabContent> </ng-template>
  </mat-tab>
</mat-tab-group>
