<mat-tab-group
  (selectedIndexChange)="storeTabIndex($event)"
  animationDuration="100"
  mat-align-tabs="center"
>
  <mat-tab label="Show All">
    <ms-search
      [tabIndex]="currentTabIndex"
      (searchTerm)="searchTerm = $event; findMatchingTreeNodes($event)"
    ></ms-search>

    <mat-card class="tree-display">
      <!-- <cdk-virtual-scroll-viewport itemSize="48" style="height: 750px;">
        <ng-container
          *cdkVirtualFor="let data of fullDataSource"
        ></ng-container> -->
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            class="expand-collapse-button"
            *ngIf="!checkChildren(node)"
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.treeNode.nodeName"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>

          <button *ngIf="checkChildren(node)" mat-icon-button disabled></button>

          <div *ngIf="!node.treeNode.nodeAuthorized">
            <mat-icon color="warn" [inline]="true" class="mat-icon-rtl-mirror">
              remove_circle
            </mat-icon>

            <div
              class="tree-node-unauthorized"
              [innerHTML]="node.treeNode.nodeName | searchFilter: searchTerm"
            ></div>
          </div>

          <mat-checkbox
            *ngIf="node.treeNode.nodeAuthorized"
            class="tree-node-active"
            [checked]="node.treeNode.nodeSelected"
            (change)="selectAndExpand(node)"
            color="accent"
          >
            <div
              *ngIf="node.treeNode.nodeInactive"
              class="tree-node-inactive"
              [innerHTML]="node.treeNode.nodeName | searchFilter: searchTerm"
            ></div>

            <div class="inactive-text" *ngIf="node.treeNode.nodeInactive">
              (inactive)
            </div>

            <div
              *ngIf="!node.treeNode.nodeInactive"
              [innerHTML]="node.treeNode.nodeName | searchFilter: searchTerm"
            ></div>
          </mat-checkbox>
        </mat-tree-node>
      </mat-tree>
      <!-- </cdk-virtual-scroll-viewport> -->
    </mat-card>
  </mat-tab>

  <mat-tab label="Show Selected">
    <ng-template matTabContent>
      <ms-search
        [tabIndex]="currentTabIndex"
        (searchTerm)="searchSelected = $event; findMatchingTreeNodes($event)"
      ></ms-search>
      <mat-card class="tree-display">
        <!-- <cdk-virtual-scroll-viewport itemSize="48" style="height: 750px;">
        <ng-container
          *cdkVirtualFor="let data of fullDataSource"
        ></ng-container> -->
        <mat-tree
          *ngIf="totalSelectedNodes > 0"
          [dataSource]="dataSource"
          [treeControl]="treeControl"
        >
          <mat-tree-node
            *matTreeNodeDef="let node; when: hasChild"
            matTreeNodePadding
          >
            <button
              class="expand-collapse-button"
              *ngIf="!checkChildren(node)"
              mat-icon-button
              matTreeNodeToggle
              [attr.aria-label]="'toggle ' + node.treeNode.nodeName"
            >
              <mat-icon class="mat-icon-rtl-mirror">
                {{
                  treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
                }}
              </mat-icon>
            </button>

            <button
              *ngIf="checkChildren(node)"
              mat-icon-button
              disabled
            ></button>

            <div *ngIf="!node.treeNode.nodeAuthorized">
              <mat-icon
                color="warn"
                [inline]="true"
                class="mat-icon-rtl-mirror"
              >
                remove_circle
              </mat-icon>

              <div
                class="tree-node-unauthorized"
                [innerHTML]="
                  node.treeNode.nodeName | searchFilter: searchSelected
                "
              ></div>
            </div>

            <mat-checkbox
              *ngIf="node.treeNode.nodeAuthorized"
              class="tree-node-active"
              [checked]="node.treeNode.nodeSelected"
              (change)="selectAndExpand(node)"
              color="accent"
            >
              <div
                *ngIf="node.treeNode.nodeInactive"
                class="tree-node-inactive"
                [innerHTML]="
                  node.treeNode.nodeName | searchFilter: searchSelected
                "
              ></div>

              <div class="inactive-text" *ngIf="node.treeNode.nodeInactive">
                &nbsp; &nbsp; (inactive)
              </div>

              <div
                *ngIf="!node.treeNode.nodeInactive"
                [innerHTML]="
                  node.treeNode.nodeName | searchFilter: searchSelected
                "
              ></div>
            </mat-checkbox>
          </mat-tree-node>
        </mat-tree>
        <!-- </cdk-virtual-scroll-viewport> -->
        <div
          *ngIf="!checkNodeSelection() && currentTabIndex === 1"
          class="none-selected-div"
        >
          None Selected
        </div>
      </mat-card>
    </ng-template>
  </mat-tab>
</mat-tab-group>
