<form>
  <input
    class="form-control mt-1 mb-2 w-100"
    type="text"
    autofocus="autofocus"
    aria-label="Number"
    placeholder="Search"
    matInput
    [formControl]="searchControl"
    [matAutocomplete]="auto"
    (input)="searchTerm = $event.target.value"
  />
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of (filteredOptions | async)"
      [value]="option"
    >
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</form>

<div
  *ngFor="let name of searchBoxList"
  [innerHTML]="name | searchFilter: searchTerm"
></div>
