<!-- ============================================================= -->
<!--    This div contains the search form for the "Show All" Tab   -->
<!-- ============================================================= -->

<div class="search-container">
  <mat-form-field>
    <!-- Search Field -->
    <input
      #searchBox
      matInput
      type="search"
      aria-label="Number"
      placeholder="Search"
      (input)="emitSearchTerm($event.target.value)"
    />

    <!-- "Search" and "Clear" icons that toggle depending on the input field "value" -->
    <mat-icon *ngIf="searchBox.value.length === 0" matSuffix>search</mat-icon>
    <mat-icon
      *ngIf="searchBox.value.length > 0"
      (click)="searchBox.value = ''; emitSearchTerm(searchBox.value)"
      style="cursor: pointer"
      matSuffix
    >
      clear
    </mat-icon>

    <mat-hint>Type at least two characters to search</mat-hint>
  </mat-form-field>
</div>
